<div class="product-box">
    <h3>{{ title }}</h3>
    <img [src]="imageSrc" [alt]="title" class="product-image">
    <p class="product-price">$ {{ price }}</p>
    <button *ngIf="!showShippingDetail" (click)="showShippingDetail = true" class="shipping-button">
        Show Shipping Detail
    </button>
    <button *ngIf="showShippingDetail" (click)="showShippingDetail = false" class="shipping-button">
        Hide Shipping Detail
    </button>
</div>
<div class="shipping-box" [@slideAnimation]="showShippingDetail ? 'expanded' : 'collapsed'">

    <h2>What is a shipping policy?</h2>
    <p>A shipping policy is a web page or document that answers your customers’ questions and provides helpful
        information
        about their purchase on your website. It’s meant to be a living document, updated frequently to reflect your
        current
        procedures. A shipping policy page includes:</p> <button type="button" class="btn btn-primary" myHighlight (click)="showShippingTerms = !showShippingTerms">{{showShippingTerms? 'Show' : 'Hide'}}</button>
    <ul *myIf="showShippingTerms">
        <li>Shipping Options & Delivery Costs</li>
        <p>We offer the following shipping options - you will be asked to select a shipping method at checkout.
            [your shipping rates here]</p>
        <li>Order processing time</li>
        <p>All orders placed before 2 PM Monday to Friday are processed and dispatched the same day, all orders placed
            after will be dispatched the next day. All orders placed during the weekend or on a public holiday will be
            sent from our warehouse on Monday or on the next business day.</p>
        <li>Delivery Address & P.O. Boxes</li>
        <p>Please note that we are unable to modify the delivery address once you have placed your order. We are sorry
            but we do not ship to P.O. boxes.</p>
        <li>International Orders</li>
        <p>Your package may be subject to import duties and taxes. You, as the customer, are responsible for paying
            those fees. We recommend that you check with your local customs office before placing an order on our
            website as these fees can sometimes be significant and we are unable to calculate these for you.</p>
        <li>Tracking Your Order</li>
        <p>Once your order has been dispatched, we will send you a confirmation email with tracking information. You
            will be able to track your package directly on the carrier’s website.</p>
        <li>Returns, Refunds, and Exchanges</li>
        <p>We want you to be completely happy with your purchase - please read our return & refund policy for detailed
            information about our processes.</p>
    </ul>
</div>